.panel {
	margin: 50 auto;
}

@media only screen and (max-width: 500px) {
	.panel {
		width: 100%;
	}
}

@media only screen and ( min-width:618px) {
	.panel {
		width: 400px;
		background-color: rgb(247, 247, 247);
	}
}

.form {
	/* width: 500px; */
}

.form .form-item {
	height: 50px;
	line-height: 50px;
	display: flex;
}

.form .form-item .label {
	width: 100px;
	text-align: right;
	padding-right: 10px;
}

input {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-variant: tabular-nums;
	list-style: none;
	font-feature-settings: "tnum";
	position: relative;
	display: inline-block;
	width: 100%;
	min-width: 0;
	padding: 4.5px 11px;
	color: #595959;
	font-size: 14px;
	line-height: 1.5;
	background-color: #fff;
	background-image: none;
	border: 1px solid #d9d9d9;
	border-radius: 4px;
	transition: all .3s;
	outline: none;
}

input:hover {
	border-color: #47c479;
	border-right-width: 1px!important;
}

button[type="submit"] {
	height: 30px;
	border: none;
	outline: none;
	background-color: #47c479;
	color: white;
	cursor: pointer;
	display: inline-block;
	width: 60px
}

.footer {
	text-align: right;
	padding-right: 20px;
	height: 30px;
	line-height: 30px;
	border-top: 1px solid rgb(212, 212, 212);
}

.option {
	cursor: pointer;
}

.option:first-child {
	margin-right: 15px;
}