header {
  display: flex;
  padding: 0 15px;
  justify-content: space-between;
  height: 50px;
  line-height: 50px;
  align-items: center;
}

header .list{
  display: flex;
}

.list li{
  list-style: none;
  margin-left: 15px;
}